.login {
    padding: 20px 25px;
    height: 100vh;
    background-color: #130f40;
    display: flex;
    justify-content: center;
    align-items: center;
   

    form {
        background-color: white;
        padding: 25px;
        color: black;
        width: 25%;
        height: 50%;
        border-radius: 10px;
    }
}