@import '~tailwindcss/dist/base.css';
@import '~tailwindcss/dist/components.css';
@import '~tailwindcss/dist/utilities.css';

@import '../src/assets/Modal.scss';

h1 {
  font-size: 24px;
  font-weight: 600;
}

h2 {
  font-size: 22px;
  font-weight: 600;
}

.main-container {
padding: 70px 0 0 235px;
overflow-x: hidden                                                                                                                                                                    ;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               

.error-field {
  color: red;
  padding-top: 3px;
}
